#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#DETAIL D'UN POST
    #PATTERN: /post/x
    #Détails du post x
    RewriteRule ^post\/([0-9]+)$ index.php?postId=$1 [L]


#DETAIL D'UNE PAGE 
    #PATTERN: /page/x
    #Détails de la page x
    RewriteRule ^page\/([0-9]+)$ index.php?pageId=$1 [L]

#ROUTE PAR DEFAUT:
    #PATTERN: /
    #Détails de la page 1
    #RewriteRule ^(.*)$ index.php [L]


    
# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]

